@import url("hack-font/build/web/hack.css");
@import url("spinkit/spinkit.css");
@import url("typer-js/src/typer.css");

@import "tailwindcss";

:root {
  --font: "Hack";
  --background: #0f0e17;
  --foreground: #fffffe;
  --primary: #81d4fa;
  --light: #62efff;
  --dark: #008ba3;
  --orange: #f57c00;
  --pink: #c2185b;
  --branch: 1px solid #a7a9be;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }

  a:hover {
    color: #747bff;
  }
}

#app {
  @apply
  w-full
  h-full
  fixed
  top-0
  left-0
  text-xl
  antialiased
  flex
  m-0;

  font-family: var(--font), system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: var(--foreground);
  background-color: var(--background);
  place-items: center;
}

#content {
  .grow-box {
    @apply grow ml-2 mt-5 sm:ml-20 sm:mt-20;
  }
}

h2 {
  @apply inline;

  font-family: var(--font), monospace;
  font-weight: normal;
  color: var(--primary);
}

a {
  font-family: var(--font), monospace;
  color: var(--foreground);
  text-decoration: none;
  outline: none;
}

span {
  color: var(--primary);
}

ul {
  list-style: none;
  padding-left: 1.5rem;
}

li {
  position: relative;
}

li::before,
li::after {
  content: "";
  position: absolute;
  left: -0.75rem;
}

li::before {
  border-top: var(--branch);
  top: 0.75rem;
  width: 0.5rem;
}

li::after {
  border-left: var(--branch);
  height: 100%;
  top: 0.25rem;
}

li:last-child::after {
  height: 0.5rem;
}

footer {
  @apply text-xs;

  display: block;
  margin-top: 1rem;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #57546d;

  a {
    color: #57546d;
  }
}

a:hover {
  color: var(--background);
  background: var(--primary);
}

.prompt {
  font-family: var(--font), monospace;
  color: var(--foreground);
}

.prompt ~ .prompt {
  padding: 1.1rem 0 0.3125rem;
}

.tree > ul {
  margin: 0;
  padding-left: 1rem;
}
